* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body{
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

.container {
    display: flex;
    justify-content: center;
    
}
.calculadora {
    width: 400px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.5);
    display: grid;
    grid-template-columns: repeat(4,80px);
    grid-template-rows: 130px repeat(6,80px);
    justify-content: center;
    border-radius: 5px;
    padding-top: 20px;

}

.calculadora button {
    font-size: 1.5rem;
    background-color: #ffffffae;
    border-radius: 5px;
    border: 2px #ffffff solid;
    margin:3px;

}

.calculadora button:hover {
    background-color: rgb(230, 230, 230);
}


.display {
    height: 120px;
    background-color: #000000;
    opacity: .7;
    grid-column: 1/-1;
    border: 2px #232323 solid;
    text-align: end;
    padding: 10px 0;
   

}

.span2 {
    grid-column: span 2;
}
.valor-superior {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 30px;

}

.valor-inferior {
    color: white;
    font-size: 2rem;

}